html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--colour-3);
}

/* FONTS & COLORS */

:root {
    --colour-1: #FF9632;
    --colour-2: #386082;
    --colour-3: #ECEFF2;
    --colour-4: #2F2F2F;
    --colour-5: #FFFFFF;
    --colour-6: steelblue;
    --font-1: 'Aleo', serif;
    --font-2: 'Montserrat', sans-serif;
}

/* MENUBAR */

.akademiker_pension {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 4em;
}

.akademiker_pension a {
    text-decoration: none;
    cursor: pointer;
    color: gray;
    font-family: var(--font-1);
    font-size: 0.7em;

}

.akademiker_pension a:hover {
    text-decoration-line: underline;
}

.menubar {
    background-color: white;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0;
}

.menubar ul {
    list-style-type: none;
    margin-top: 1.3em;
    margin-left: 67em;
    display: flex;
}

.menubar li {
    display: inline-flex;
    margin-right: 1.5em;
}

.menu_icons img {
    width: 1.3em;
}

.nav {
    text-align: right;
    float: right;
    height: 70px;
    line-height: 4em;
    width: 37em;
}

.menu {
    margin: 0;
    background-color: var(--colour-5);
    text-align: center;
    width: 100%;
    display: none;
}

.menu a {
    text-decoration: none;
    color: gray;
    margin: 0;
    clear: right;
    font-family: var(--font-2);
    font-size: 1em;
    padding-right: 1.5em;
}

span {
    color: var(--colour-1);
}

label {
    margin: 0;
    font-size: 1.5em;
    line-height: 2.5em;
    display: none;
    float: right;
    margin-top: 0.2em;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
        display: inline-block;
        margin: 0;
    margin-left: -42.2em;
    width: 84.35em;
    }


.logo {
    position: absolute;
    max-width: 13em;
    width: 100%;
    height: auto;
    top: 3.8em;
    left: 1em;
}

.search {
    max-width: 1.5em;
}

.contact {
    max-width: 1.5em;
    height: 1.5em;
}

.lock {
    max-width: 1.5em;
    height: 1.5em;
}

/* HEADER */

#header_cover {
    display: grid;
    grid-template-columns: 1fr;
}

#header_cover img,
#header_cover header {
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.background {
    width: 100%;
    height: 50em;
    object-fit: cover;
    z-index: -1;
}

header {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: var(--colour-5);
    font-size: 4em;
    margin: 0;
    font-family: var(--font-2);
    padding: 0.5em;
    z-index: -1;
}

.description {
    text-align: center;
    color: var(--colour-5);
    font-size: 1.5em;
    padding: 2em;
    margin-top: 0;
    font-family: var(--font-2);
    padding: 0.5em;
    z-index: -1;
}

/* YOUR SITUATION */

#situation {
    background-color: white;
    padding: 2em;
    margin: 2em;
    border-radius: 2em;
}

#situation h1 {
    font-family: var(--font-2);
    font-size: 2.7em;
    margin-left: 5vw;
    margin-bottom: 0em;
    color: var(--colour-2);
    text-align: center;
}

#situation p {
    font-family: var(--font-2);
    font-size: 1em;
    margin-left: 5vw;
    margin-bottom: 0em;
    color: var(--colour-2);
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
    line-height: 1.5em;
}

#list_situations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 2vw;
    margin: 2vw;
    padding: 2vw;
    margin-top: 0em;
}

#retirement {
    border-color: var(--colour-2);
    padding: 1em;
    display: flex;
}

#retirement h2 {
    font-family: var(--font-2);
    font-size: 1.2em;
}

#married {
    border-color: var(--colour-2);
    padding: 1em;
    display: flex;
}

#married h2 {
    font-family: var(--font-2);
    font-size: 1.2em;
}

#home {
    border-color: var(--colour-2);
    padding: 1em;
    display: flex;
}

#home h2 {
    font-family: var(--font-2);
    font-size: 1.2em;
}

#expecting {
    border-color: var(--colour-2);
    padding: 1em;
    display: flex;
}

#expecting h2 {
    font-family: var(--font-2);
    font-size: 1.2em;
}

#family {
    border-color: var(--colour-2);
    padding: 1em;
    display: flex;
}

#family h2 {
    font-family: var(--font-2);
    font-size: 1.2em;
}

#health {
    border-color: var(--colour-2);
    padding: 1em;
    display: flex;
}

#health h2 {
    font-family: var(--font-2);
    font-size: 1.2em;
}

.tick {
    border: 1px solid;
    border-color: var(--colour-2);
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-left: 1em;
    margin-top: 1em;
}

/* INFORMATION */

#information {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 4vw;
    margin: 2vw;
    padding: 2vw;
    margin-top: 8em;
    background-color: #FFFF;
}

#info_left h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    line-height: 2.5em;
    border-bottom: 2px solid #ECEFF2;
}

#info_left .selected {
    color: #386082;
    background-color: #ECEFF2;
    padding-left: 1em;
}

.info_retirement h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
}

.info_retirement h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

.info_retirement p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
}

.info_retirement h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    margin-top: 2.5em;
}

.help {
    display: flex;
}

.call_us h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    margin: 0;
}

.call_us p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-top: 1em;
    color: #386082;
}

.info_retirement h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    margin-left: 3em;
    margin-right: 3em;
}

.email_us h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    margin: 0;
    margin-bottom: 1em;
}

.email_us a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #386082;
    font-size: 1em;
}

.info_retirement button {
    border: none;
    background-color: #FF9632;
    color: #FFFF;
    cursor: pointer;
    padding-left: 17.5em;
    padding-right: 17.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.9em;
    font-family: 'Montserrat', sans-serif;
    border-radius: 1em;
}

.info_retirement button:hover {
    opacity: 90%;
}

#info_right {
    margin-top: 2em;
    margin-bottom: 2em;
}



/* TOP PICKS */

#columns_top_picks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-gap: 4vw;
    margin: 2vw;
    padding: 2vw;
    margin-top: 0em;
}

#top_picks h1 {
    font-family: var(--font-2);
    font-size: 2.7em;
    margin-left: 5vw;
    margin-bottom: 0em;
    margin-top: 2em;
    opacity: 80%;
}

#pick_1 {
    display: grid;
    padding: 2.5em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    height: 25em;
    position: relative;
}

#pick_1 img {
    width: 100%;
    height: 30em;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

#pick_2 {
    display: grid;
    padding: 2.5em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    height: 25em;
    position: relative;
}

#pick_2 img {
    width: 100%;
    height: 30em;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

#pick_3 {
    display: grid;
    background-color: var(--colour-2);
    padding: 2.5em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
    height: 25em;
}

#top_picks h2 {
    font-family: var(--font-2);
    font-size: 1.1em;
    color: var(--colour-5);
    margin-top: 8em;
}

#top_picks h3 {
    font-family: var(--font-2);
    font-size: 0.8em;
    color: var(--colour-5);
    margin-bottom: 6em;
}

#top_picks h5 {
    font-family: var(--font-2);
    font-size: 0.5em;
    color: var(--colour-5);
    margin: 0;
}

#top_picks h4 {
    font-family: var(--font-2);
    font-size: 0.8em;
    color: var(--colour-5);
    margin-top: 0.5em;
}

i {
    position: absolute;
    top: 1.6em;
    left: 16.5em;
    cursor: pointer;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.square_1 {
    background-color: var(--colour-6);
    padding: 1em;
    border-radius: 1em;
    height: 2em;
    position: relative;
    cursor: pointer;
}

.square_1:hover {
    opacity: 80%;
}

.square_2 {
    background-color: var(--colour-6);
    padding: 1em;
    border-radius: 1em;
    height: 2em;
    position: relative;
    cursor: pointer;
}

.square_2:hover {
    opacity: 80%;
}

.square_3 {
    background-color: var(--colour-6);
    padding: 1em;
    border-radius: 1em;
    height: 2em;
    position: relative;
    cursor: pointer;
}

.square_3:hover {
    opacity: 80%;
}


.square_4 {
    background-color: var(--colour-6);
    padding: 1em;
    border-radius: 1em;
    height: 2em;
    position: relative;
    margin-bottom: 2em;
    cursor: pointer;
}

.square_4:hover {
    opacity: 80%;
}


#top_picks button {
    border: 2px solid black;
    border-color: var(--colour-5);
    background-color: var(--colour-2);
    color: var(--colour-5);
    cursor: pointer;
    padding: 0.5em;
    font-size: 0.9em;
    font-family: var(--font-2);
    border-radius: 1vw;
    margin-left: 5em;
    margin-right: 5em;
}

#top_picks button:hover {
    background-color: var(--colour-5);
    color: var(--colour-2);
}

/* FOOTER */

footer {
    background-color: var(--colour-2);
    height: auto;
    width: auto;
    padding: 4em;
    font-family: var(--font-2);
    position: relative;
    margin-top: 10em;
}

#intro_footer {
    display: flex;
    grid-gap: 19em;
}

#feedback {
    background-color: var(--colour-5);
    display: inline-flex;
    width: 100%;
    height: 5em;
    max-width: 23em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-bottom: 1em;
    margin-top: -6em;
    position: absolute;
}

#feedback p {
    color: black;
    font-family: var(--font-2);
    padding: 1em;
    font-size: 1em;
}

.thumbs_up img {
    width: 2em;
    margin-top: 0.5em;
    padding: 1em;
    background-color: lightgreen;
    border-radius: 2em;
    margin-right: 1em;
}

.thumbs_down img {
    width: 2em;
    margin-top: 0.5em;
    padding: 1em;
    transform: rotate(180deg);
    background-color: lightcoral;
    border-radius: 2em;
}

#box {
    background-color: var(--colour-1);
    padding: 2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    width: 30em;
    margin-top: -8em;
    margin-left: 40em;
}

#box h3 {
    margin-bottom: 1em;
    margin-top: 0.5em;
    color: #386082;
}

#box h4 {
    margin-bottom: 0em;
}

#inside_box:after {
    content: "";
    display: table;
    clear: both;
    width: 30m;
}

.schedule {
    float: left;
    width: 33.33%;
    display: grid;
}

.schedule p {
    font-size: 0.8em;
    width: 12em;
    padding-right: 8em;
    margin-bottom: 0;
    margin-top: 0;
}

.schedule h5 {
    margin-top: 0.6em;
}

line {
    transform: rotate(90deg);
    border: black;
    height: 0.1em;
    background-color: black;
    width: 2.9em;
    margin-left: -1.7em;
    margin-top: 0.5em;
    opacity: 50%;
}

.btn_footer {
    text-align: center;
}

.btn {
    border: 2px solid black;
    border-color: var(--colour-5);
    background-color: var(--colour-1);
    color: var(--colour-5);
    cursor: pointer;
    padding: 1em;
    font-size: 0.9em;
}

.button_footer {
    border-color: var(--colour-5);
    color: var(--colour-5);
}

.button_footer:hover {
    background-color: var(--colour-5);
    color: var(--colour-1);
}

footer .address p {
    width: 25em;
    line-height: 0.5em;
    font-size: 0.8em;
    color: var(--colour-5);
}

.address {
    margin-top: -6em;
}

#container {
    margin-top: 7em;
    width: 100%;
}

#container div a {
    text-decoration: none;
    color: var(--colour-5);
    font-size: 0.8em;
    line-height: 2em;
}

#container:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    display: grid;
}

#container .column a:hover {
    color: black;
}

#social_media_icons img {
    display: inline-block;
    width: 1.6em;
    height: auto;
    padding: 0.5em;
    color: var(--colour-5);
    margin-top: 7em;
}

#social_media_icons img:hover {
    opacity: 50%;
}

/* media queries */

@media only screen and (min-width: 900px) {
    label {
        display: block;
        cursor: pointer;
    }

    .menu a {
        display: inline-flex;
        border-bottom: 1px solid var(--colour-3);
        margin: 0;
    }

}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
        position: absolute;
        left: 14.2em;
        width: 1em;
        margin-top: -2.5em;
    }

    .menu {
        text-align: left;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid var(--colour-3);
        margin-left: 43em;

    }

    #toggle:checked + .menu {
        display: block;
        width: 66.5em;
        padding-right: 0.7em;
        position: absolute;
    }

    .logo {
        width: 100%;
        height: auto;
        max-width: 10em;
        margin-left: -0.5em;
    }

    .menubar {
        height: 4.1em;
    }

    .menubar ul {
        margin-left: 10em;
    }

    .title {
        font-size: 2.5em;
        text-align: left;
        margin-top: -7em;
    }

    .description {
        font-size: 1.5em;
        text-align: left;
    }

    #situation p {
        padding-left: 0em;
        padding-right: 0em;
    }

    footer {
        padding: 1em;
        height: 145vw;
    }

    .column {
        font-size: 0.9em;
        margin-bottom: 5.5em;
        margin-top: -3em;
    }

<<<<<<< HEAD
    .information {
        font-size: 0.9em;
        margin-top: -32em;
=======
    .address p {
        font-size: 0.8em;
>>>>>>> information
    }


    #container {
        display: grid;
        width: 100%;
    }

    #feedback {
        margin-top: -3em;
    }

    #box {
        margin-left: 16em;
        margin-top: 7em;
        width: 7em;
    }

    line {
        display: none;
    }

    #inside_box {
        display: grid;
    }

    .schedule {
        font-size: 0.8em;
    }

    .btn_footer {
        font-size: 0.8em;
    }

    .btn, .button_footer {
        margin-top: 1em;
    }

    #social_media_icons {
        margin-top: -8em;
    }
}
