html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgrey;
}

.akademiker_pension {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-right: 4em;
    font-size: 0.9em;
}

.akademiker_pension a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.akademiker_pension a:hover {
    text-decoration-line: underline;
}

.menubar {
    background-color: white;
    text-align: right;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.menubar ul {
    list-style-type: none;
    margin-top: 1.3em;
}

.menubar li {
    display: inline-flex;
    margin-right: 3em;
}

.menubar li a {
    text-decoration: none;
}

.nav {
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin: 0 30px 0 0;
    background-color: white;
}

.menu a {
    text-decoration: none;
    color: gray;
    margin: 0 10px;
    line-height: 70px;
    clear: right;
}

span {
    color: orange;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    float: right;
    width: 26px;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid lightgray;
        margin: 0;
    }
    #toggle:checked + .menu {
        display: block;
    }
    .logo {
        width: 100%;
        height: auto;
    }
    .menubar li {
        margin-right: 2.2em;
    }
}

.logo {
    position: absolute;
    max-width: 13em;
    width: 100%;
    height: auto;
    top: 5em;
    left: 1em;
}

.search {
    max-width: 1.5em;
}

.contact {
    max-width: 1.5em;
    height: 1.5em;
}

.lock {
    max-width: 1.5em;
    height: 1.5em;
}

h1 {

}

.quiz {
    background-color: white;
    padding: 1em;
    text-align: center;
}

.quiz button {
    padding: 1em;
    border-radius: 5em;
    color: white;
    background-color: orange;
    border: none;
    font-size: 1em;
    align-content: center;
}



footer p {
    background-color: cadetblue;
}
